@font-face {
  font-family: "Inconsolata";
  src:    url('/src/assets/Inconsolata-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  font-family: "Inconsolata", serif !important;
  background-image: url('/src/assets/colBack.png'), url('/src/assets/colBack.png');
  background-repeat: repeat-y, repeat-y;
  background-position: left, right;

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html{
  height: 100%;
}

#root{
  height: 100%;
}

.active{
  color: #00baff !important;
}

p{
  font-size: 13pt !important;
}

.noScrollHomeBack{
  height: calc(100vh - 56px);
}

.form-check-input:checked {
  background-color: #00BAFF !important;
  border-color: #00BAFF !important;
}

.form-check-input:focus {
  border-color: #80ddff !important;
  box-shadow: 0 0 0 0.25rem rgb(128 211 255 / 25%) !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%273%27 fill=%27%2380ddff%27/%3e%3c/svg%3e") !important;
}

.badge {
  font-weight: normal !important;
}

span{
  white-space: nowrap
}

.accordion-item{
  border: none !important;
}

.accordion-button::after{
  margin: auto !important;
}

.accordion-button:focus{
  box-shadow: none !important;
}

.accordion-button:not(.collapsed){
  background-color: transparent !important;
}

.accordion-body{
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}




